<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.boxteam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".wsqboss.app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cysboss.LiveActivity"></activity>
        <activity android:name=".cysboss.LiveOneActivity" />
        <activity android:name=".cysboss.CourseSelection" />
        <activity android:name=".cysboss.UserAgreementActivity" />
        <activity android:name=".cysboss.TaskActivity" />
        <activity android:name=".cysboss.ScheduleActivity" />
        <activity android:name=".cysboss.LogisticsActivity" />
        <activity android:name=".cysboss.DiscountActivity" />
        <activity android:name=".wsqboss.home.HomeActivity" />
        <activity android:name=".lc.MessageActivity">

        </activity>
        <activity android:name=".lc.UserInfoActivity">

        </activity>
        <activity android:name=".lc.JobCardActivity">

        </activity>
        <activity android:name=".lc.splace.SplaceActivity">

        </activity>
        <activity android:name=".lc.CustomActivity">

        </activity>
        <activity android:name=".lc.LoginAgreeActivity">

        </activity>
        <activity android:name=".lc.IdentifyCodeActivity">

        </activity>
        <activity android:name=".lc.ClasssActivity">

        </activity>
        <activity android:name=".lc.CourseSelection"/>
        <activity android:name=".bigboss.activity.ActivityActivity"/>
        <activity android:name=".bigboss.ask.AskActivity" />
        <activity android:name=".bigboss.parent.ParentActivity" />
        <activity android:name=".bigboss.zf.Zf3Activity" />
        <activity android:name=".bigboss.category.CategoryActivity" />
        <activity android:name=".bigboss.rl.RlActivity" />
        <activity android:name=".bigboss.zf.Zf2Activity" />
        <activity android:name=".bigboss.zf.ZfActivity" />
        <activity android:name=".bigboss.jf.JfActivity" />
        <activity android:name=".bigboss.train.TrainActivity" />
        <activity android:name=".wsqboss.home.main.DetailsActivity"></activity>
        <activity android:name=".wsqboss.home.main.SetActivity" />
        <activity android:name=".wsqboss.home.main.CollectActivity" />
        <activity android:name=".wsqboss.home.main.HotActivity" />
        <activity android:name=".wsqboss.home.HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>